<div class="content">
  <div class="col-md-2">
    <div class="list-group">
      {{#each prom in model}}
        {{link-to prom.name "prom" prom class="btn btn-default btn-block btn-prom"}}
      {{else}}
      <button type="button" class="btn btn-default btn-block"
        disabled="disabled">Geen proms om weer te geven</button>
      {{/each}}

      {{link-to "Prom toevoegen" "proms.new" class="btn btn-success btn-block"}}
    </div>
  </div>
  <div class="col-md-10">
    {{outlet}}
  </div>
</div>
