// colors
@red:#df0f2e;
@grey: grey;
@listgrey:#e5e5e5;
@linegrey:#ccc;
@colorbreak: #f3f3f3;
@colorbreakdark:#f9f9f9;

//MEASURES
//navbar

@navwidth: 15%;
@navmax: 250px;
@wrapperwidth:(100% - @navwidth);


@liheight:45px;
@lipromheight:auto;

@lipadding:10px;
@liprompadding:10px 10px;

@liborderright:3px;

@secmenuwidth:15%;


@import "start.less";
body{

	background-image: url(../../img/textures/brushed_alu.png);

	nav
	{
		width:@navwidth;
		max-width: @navmax;
		height: 100%;
		float:left;

		background-color: @red;
		.dropshadow(1px, 0, 2px, rgba(0,0,0,0.3));
		menu
		{
			font-size: 1.8rem;
			li{

				height: @liheight;
				width: 100%;
				padding: @lipadding;
				border-bottom: @listgrey solid 1px;

				.linear-gradient-top-bottom(@colorbreakdark, @colorbreak);
				color: @red;
				&:hover
				{
					.linear-gradient-top-bottom(@colorbreak,@colorbreakdark);
					border-right: @linegrey solid @liborderright;
				}
				&.submenu
				{
					.submenu_li;
				}
				&.selected
				{
					.selected_li;
				}
			}
		}
	}
	section
	{
		position:relative;
		width: @wrapperwidth;
		height: 100%;
		float:left;
		.innershadow(1px, 0, 2px, rgba(0,0,0,0.3));
		nav
		{
			width:@secmenuwidth;
			height: auto;
			padding-left: 2px;
			font-size: 1.8rem;
			
			.hexBackgroundToRGBA(@red,0.1);
			ul{
				padding: 0px;
				margin: 0px;
				li{

					height: @liheight;
					width: 100%;
					padding: @lipadding;
					border-bottom: @listgrey solid 1px;

					.linear-gradient-top-bottom(@colorbreakdark, @colorbreak);
					color: @red;
					&:hover
					{
						.linear-gradient-top-bottom(@colorbreak,@colorbreakdark);
						border-right: @linegrey solid @liborderright;
					}
					&.submenu
					{
						.submenu_li;
					}
					&.selected
					{
						.selected_li;
					}
				}
			}
		}
		.wrapper{
			width: (100-@secmenuwidth);
			float: left;

			.actionbar_verkoop
			{
				.navbar;
				height: 20px;
				width: 100%;
				float: left;

			}
			.table
			{
				float: left;
				width: 100%;
				input
				{
					width: 50px;
					height: 30px;
					margin: 0px;
				}
			}
		}
	}
}
.submenu_li
{
	height: @lipromheight;
	padding:@liprompadding;
	padding-left: 20px;

	font-size: 1.5rem;

	background-image: none;
	background-color: @listgrey;
	border-color: @linegrey;
}
.selected_li
{
	background-image: none;
	background-color: @red;
	color:whitesmoke;
}
.navbar
{
	border-radius: 0px !important;
	.navbar-inner
	{
		border-radius: 0px;
		padding-left: 0px;
		.nav
		{
			width: 100%;
		}
		.nav>li:last-child
		{
			.right;
		}
	}
}