*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */

  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */

  box-sizing: border-box;
  /* Opera/IE 8+ */

  font-family: calibri;
}
html {
  font-size: 62.5%;
}

/*MIXINS*/
.border-radius (@radius) {
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
}

.border-radius(@top_left_radius,@top_right_radius,@bottom_right_radius,@bottom_left_radius) {
    border-radius: @top_left_radius @top_right_radius @bottom_right_radius @bottom_left_radius;
    -moz-border-radius: @top_left_radius @top_right_radius @bottom_right_radius @bottom_left_radius;
    -webkit-border-radius: @top_left_radius @top_right_radius @bottom_right_radius @bottom_left_radius;
}

.linear-gradient-top-bottom(@from,@to) {
    background-color: @from;
    *background-color: @to;
    background-image: -moz-linear-gradient(top, @from, @to);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@from), to(@to));
    background-image: -webkit-linear-gradient(top, @from, @to);
    background-image: -o-linear-gradient(top, @from, @to);
    background-image: linear-gradient(to bottom, @from, @to);
    background-repeat: repeat-x;
}

.dropshadow(@xpos,@ypos,@size,@rgba) { /*@rgba = rgba(0,0,0,0.25)*/
    box-shadow: @xpos @ypos @size @rgba;
    -moz-box-shadow: @xpos @ypos @size @rgba;
    -webkit-box-shadow: @xpos @ypos @size @rgba;
}

.innershadow(@xpos, @ypos, @size, @rgba) {
    box-shadow: inset @xpos @ypos @size @rgba;
    -moz-box-shadow: inset @xpos @ypos @size @rgba;
    -webkit-box-shadow: inset @xpos @ypos @size @rgba;
}

.rotate(@deg) {
    transform: rotate(@deg);
    -ms-transform: rotate(@deg); /* IE 9 */
    -webkit-transform: rotate(@deg); /* Safari and Chrome */
    -o-transform: rotate(@deg); /* Opera */
    -moz-transform: rotate(@deg); /* Firefox */
}