<div class="content">
  <div class="col-lg-5">
    <div class="well"><p>test1</p></div>
    <div class="panel"></div>
  </div>
  <div class="col-lg-6">
    <div class="well">
      <p>test2</p>
    </div>
    <div class="panel">
      <div class="panel-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label for="inputNaam" class="col-lg-1 control-label">&euro; 500</label>
            <div class="col-lg-11">
              <input type="number" class="form-control" id="inputNaam">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-1">
    <a href="" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-right"></span>
      Wisselgeld

    </a>
  </div>
</div>
