*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-weight: 500;
  font-size: 1.3rem;
  font-family: "corbel", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
ul,
menu {
  list-style: none;
}
html {
  font-size: 62.5% !important;
}
.right {
  float: right !important;
}
.left {
  float: left !important;
}
body header {
  height: 5%;
  width: 100%;
  background-color: #df0f2e;
}
body .content {
  height: 95%;
  width: 100%;
}
body .content nav {
  width: 20%;
  height: 100%;
  background-color: whitesmoke;
  float: left;
  border-right: 1px solid #ddd;
}
body .content nav ul {
  padding: 5px 5px 0px 5px;
  margin: 0px;
}
body .content nav ul li {
  margin-bottom: 5px;
}
body .content nav ul li ul {
  padding: 5px 20px 5px 20px;
}
body .content nav ul li ul li {
  background-color: #eee;
  border-color: #eee;
  color: #777;
}
body .content nav ul li ul li:last-child {
  margin-bottom: 0px;
}
body .content nav ul li ul li:hover {
  color: #333;
  background-color: #d5d5d5;
  border-color: #ccc;
}
body .content nav ul > li > ul > li > a {
  color: #777 !important;
}
body .content nav ul > li > ul > li > a:hover {
  color: #333 !important;
}
body .content nav .tab-pane ul {
  padding: 5px 5px 0px 5px;
  margin: 0px;
}
body .content nav .tab-pane ul li {
  margin-bottom: 5px;
}
body .content nav .tab-pane ul li a:hover {
  text-decoration: none;
}
body .content section {
  float: left;
  width: 80%;
  height: 100%;
}
body .content section .actionbar {
  height: 7%;
}
body .content section .actionbar .navbar {
  height: 100%;
  margin: 0px;
}
body .content section .actionbar .navbar ul {
  width: 100%;
  height: 100%;
  min-height: 100%;
}
body .content section .actionbar .navbar ul li {
  float: right;
  height: 100%;
  min-height: 100%;
}
body .content section .actionbar .navbar ul li a {
  height: 100%;
  min-height: 100%;
}
body .content section .view {
  height: 93%;
  width: 100%;
  padding: 10px;
  overflow: auto;
}
.selected {
  background-color: #ddd;
}
.selected:hover td {
  background-color: #ddd !important;
}
.artikellist {
  height: 100%;
  overflow: auto;
}
.artikelbar {
  height: 100%;
  background-color: whitesmoke;
  padding: 10px;
}
.artikelbar .input-group-addon {
  color: black;
}
.fullheight {
  height: 100% !important;
}
