<section>
  <div class="actionbar">
    <div class="navbar navbar-static-top">
      <ul class="nav navbar-nav">
        <li  class="active"><a href="#">Toevoegen</a></li>
      </ul>
    </div>
  </div>

  <div class="view">
    <div class="col-lg-10">
      <div class="well">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">

        </div>
      </div>
      <div class="panel panel-default">
        <table class="table table-hover">
          <thead>
            <td>Artikelnummer</td>
            <td>Artikelnaam</td>
            <td>Prijs</td>
            <td>Aantal</td>
          </thead>
          <tbody>
            {{#each article in model}}
            {{#link-to 'articles.edit' article tagName='tr'}}
            <td>{{article.code}}</td>
            <td>{{article.name}}</td>
            <td>{{article.displayPrice}}</td>
            <td>999</td>
            {{/link-to}}
            {{else}}
            <tr>
              <td colspan="4">No articles found</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="list-group">
        <a class="list-group-item active">17.10.2012</a>
        <a class="list-group-item">15.11.2012</a>
        <a class="list-group-item">10.12.2012</a>
        <a class="list-group-item">26.01.2013</a>
        <a class="list-group-item">4.03.2013</a>
      </div>
    </div>
  </div>
</section>
