<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      {{#link-to 'prom.index' tagName='li'}}<a>Algemeen</a>{{/link-to}}
      {{#link-to 'prom.stock' tagName='li'}}<a>Stock</a>{{/link-to}}
      {{#link-to 'transfer' tagName='li'}}<a>Transfer</a>{{/link-to}}
      {{#link-to 'prom.sale' tagName='li'}}<a>Verkoop</a>{{/link-to}}
      {{#link-to 'cash' tagName='li'}}<a>Kas</a>{{/link-to}}
    </ul>
  </div>
</nav>
  {{outlet}}
