<section>
  <div class="col-lg-10">
    {{outlet}}
  </div>
  <div class="col-lg-2">
    <div class="list-group">
      {{link-to "17.10.2012" 'transfer' class="list-group-item"}}
      <a class="list-group-item">17.10.2012</a>
      <a class="list-group-item">4.03.2013</a>
      <a class="list-group-item list-group-item-success">Toevoegen</a>
    </div>
  </div>
</section>
